.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__link {
    text-align: center;
    transition: all 0.15s;
    background-color: transparent;
    border: none;
}

.footer__link:hover {
    color: white;
}

.footer__modal {
    display: none;
}