.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100lvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 26, 0.6); 
    opacity: 0.7;
    z-index: 20;
}

.modal__content {
    height: 100%;
    width: 90%;
    padding: 36px 24px;
    background-color: #ddf1;
    backdrop-filter: blur(3px);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
}

.modal__image {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.15s;
    cursor: pointer;
}

.modal__image:hover {
    transform: translateY(-2px);
}
