.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 26, 0.6); 
    opacity: 0.7;
    z-index: 20;
}

.modal__content {
    height: 75%;
    width: 85%;
    padding: 36px 24px;
    background-color: #939dc0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
}

.modal__image {
    max-width: 30%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.15s;
    cursor: pointer;
}

.modal__image:hover {
    transform: translateY(-3px);
}

.modal__close-button {
    position: absolute;
    right: 0px;
    top: 0px;
}
