.modal-open-button {
    height: 15px;
    width: 30px;
    cursor: pointer;
    background-color: #0a192f;
    box-shadow: inset 0 0 0 1px #ccd6f6;
    border: none;
    position: relative;
}

.modal-open-button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 4px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a192f;
}

.modal-open-button::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    left: 0%;
    background-color: #0a192f;
}
