h1, h2, h3, p {
    margin: 0;
}

a {
    color: unset;
    text-decoration: unset;
}

.text-xl {
    font-size: 36px;
    line-height: 48px;
}

.text-l {
    font-size: 28px;
    line-height: 38px;
}

.text-m {
    font-size: 20px;
    line-height: 26px;
}

ul {
    padding: 0px;
    list-style: none;
}

.b {
    font-weight: 700;
}
