:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #DDDDDD;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #111111;
}

/* grid  */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background:
    linear-gradient(90deg, rgba(255,255,255,0.02) 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.02) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: backgroundMove 15s linear infinite;
}

@keyframes backgroundMove {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 40px 40px, 40px 40px;
  }
} 

/* aurora first  */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(120deg, #2a2a2a, #111111, #1f1f1f);
  background-size: 200% 200%;
  animation: auroraMove 10s ease-in-out infinite;
  opacity: 0.3;
  filter: blur(80px);
}

 @keyframes auroraMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} 


.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.flex-1 {
  flex: 1;
}
.flex-0 {
  flex: 0;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}
